body {
  background-color: black;
  margin: 0;
  padding: 0;
}
.target {
  position: absolute;
  transform: translate(-50%, -50%);
}
.line {
  position: absolute;
  background-color: white;
}
.xBar {
  width: 1px;
  height: 100%;
}
.yBar {
  width: 100%;
  height: 1px;
}
.tag {
  position: absolute;
  color: white;
  font-size: 40px;
  margin: 20px;
}
